* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1; }

.container {
  width: 940px;
  margin: 0 auto; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.twitter .container {
  width: 735px; }

footer .container {
  width: 760px; }

@font-face {
  font-family: 'Campton Bold';
  src: url("../../fonts/Campton-BoldDEMO.eot");
  src: local("Campton-BoldDEMO"), url("../../fonts/Campton-BoldDEMO.eot?#iefix") format("embedded-opentype"), url("../../fonts/Campton-BoldDEMO.woff") format("woff"), url("../../fonts/Campton-BoldDEMO.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Campton Light';
  src: url("../../fonts/Campton-LightDEMO.eot");
  src: local("Campton-LightDEMO"), url("../../fonts/Campton-LightDEMO.eot?#iefix") format("embedded-opentype"), url("../../fonts/Campton-LightDEMO.woff") format("woff"), url("../../fonts/Campton-LightDEMO.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
h1 {
  margin-bottom: 30px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 60px;
  font-weight: 300;
  line-height: 70px;
  text-transform: uppercase;
  text-align: center; }

h2 {
  position: relative;
  font-size: 40px;
  font-weight: 300;
  line-height: 30px;
  color: #000; }
  h2 b {
    font-weight: 700; }
  h2 span {
    font-weight: 300;
    color: #e74c3c; }

.red_line {
  margin-bottom: 80px; }
  .red_line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -21px;
    width: 100px;
    height: 2px;
    background-color: #e74c3c; }

h3 {
  font-size: 40px;
  font-weight: 700;
  color: #fff; }

body h1, body h2, body h3, body h4, body a {
  font-family: "Campton Light", sans-serif; }
  body h1 b, body h2 b, body h3 b, body h4 b, body a b {
    font-family: "Campton Bold", sans-serif; }
body p, body .contact-us .send-mail form, .contact-us .send-mail body form, body .contact-us .send-mail form:hover p, .contact-us .send-mail form:hover body p, body .contact-us .send-mail form:active, .contact-us .send-mail body form:active, body dt, body dl {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 30px; }
body b {
  font-weight: 700; }

body a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #fff; }
body ul, body ol {
  list-style: none; }

.button {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  font-size: 20px;
  font-weight: 700;
  transition: 0.2s; }
  .button:active {
    transform: scale(0.9); }

::-webkit-input-placeholder {
  font-size: 16px;
  color: #dfdfdf;
  font-weight: 300;
  font-style: italic;
  line-height: 30px; }

:-moz-placeholder {
  font-size: 16px;
  color: #dfdfdf;
  font-weight: 300;
  font-style: italic;
  line-height: 30px; }

::-moz-placeholder {
  font-size: 16px;
  color: #dfdfdf;
  font-weight: 300;
  font-style: italic;
  line-height: 30px; }

:-ms-input-placeholder {
  font-size: 16px;
  color: #dfdfdf;
  font-weight: 300;
  font-style: italic;
  line-height: 30px; }

.header {
  padding: 43px 0 47px;
  background: url("../../images/backgrounds/slider-6.jpg") no-repeat;
  background-size: cover;
  color: #eee; }
  .header__top {
    margin-bottom: 200px; }
    .header__top .logo {
      float: left; }
    .header__top .menu-btn {
      float: right;
      margin-right: 14px; }
  .header__textarea p, .header__textarea .contact-us .send-mail form, .contact-us .send-mail .header__textarea form, .header__textarea .contact-us .send-mail form:hover p, .contact-us .send-mail form:hover .header__textarea p {
    font-family: 'Campton Light', sans-serif;
    margin-bottom: 50px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 22px;
    line-height: 1; }
  .header__button-wrap {
    margin-bottom: 233px;
    vertical-align: top;
    text-align: center;
    font-size: 0; }
    .header__button-wrap .button {
      width: 200px;
      margin: 0 14px;
      line-height: 66px; }
      .header__button-wrap .button:hover {
        background-color: #e74c3c;
        border: 2px solid #e74c3c; }

.call-to-action {
  padding: 15px 0;
  max-height: 100px;
  background-color: #e74c3c; }
  .call-to-action .container {
    display: flex;
    justify-content: space-between;
    width: 820px; }
  .call-to-action p, .call-to-action .contact-us .send-mail form, .contact-us .send-mail .call-to-action form, .call-to-action .contact-us .send-mail form:hover p, .contact-us .send-mail form:hover .call-to-action p {
    align-self: center;
    color: #eee;
    font-size: 22px;
    font-family: 'Campton Light', sans-serif;
    line-height: 1; }
  .call-to-action__btn {
    width: 200px;
    line-height: 66px; }
    .call-to-action__btn:hover {
      background-color: #fff;
      color: #e74c3c; }

.about-us {
  padding-top: 99px;
  background: url("../../images/backgrounds/about-us-back.png") no-repeat;
  background-size: cover; }
  .about-us__mac {
    float: right;
    margin: -130px -157px 0 25px; }
  .about-us__text-area h2 {
    margin-bottom: 30px;
    line-height: 50px; }
  .about-us__text-area p, .about-us__text-area .contact-us .send-mail form, .contact-us .send-mail .about-us__text-area form, .about-us__text-area .contact-us .send-mail form:hover p, .contact-us .send-mail form:hover .about-us__text-area p {
    margin-bottom: 60px;
    color: #3d3d3d;
    line-height: 35px; }
  .about-us__cooperator {
    float: right;
    margin-top: 15px; }
  .about-us__dl-wrap dl {
    width: 63.829787234%; }
  .about-us__dl-wrap dt {
    margin-bottom: 10px;
    padding: 0 15px 0 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    border: 1px solid #d3d3d3;
    background-color: #eee;
    font-size: 15px;
    font-weight: 600;
    line-height: 35px;
    overflow: hidden;
    transition: 0.2s;
    height: 36px; }
    .about-us__dl-wrap dt:hover {
      background-color: #e74c3c;
      color: #fff;
      border: 1px solid #e74c3c; }
    .about-us__dl-wrap dt::after {
      content: "+";
      float: right;
      vertical-align: middle;
      font-size: 19px;
      font-weight: 700;
      line-height: 35px; }
  .about-us__dl-wrap dd {
    display: none;
    padding-left: 18px;
    color: #3d3d3d;
    font-size: 15px;
    line-height: 35px; }

.case-study {
  width: 1300px;
  margin: 0 auto;
  color: #fff; }
  .case-study figure {
    position: relative;
    width: 50%;
    height: 400px; }
    .case-study figure:first-child {
      float: left;
      text-align: right; }
      .case-study figure:first-child figcaption {
        padding: 90px 55px 80px 150px; }
    .case-study figure:last-child {
      float: right;
      text-align: left; }
      .case-study figure:last-child figcaption {
        padding: 90px 150px 80px 55px; }
    .case-study figure img {
      max-width: 100%; }
    .case-study figure figcaption {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      transition-duration: 400ms; }
      .case-study figure figcaption:hover {
        background: rgba(224, 92, 78, 0.9);
        cursor: pointer; }
    .case-study figure h3 {
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
      font-size: 30px;
      line-height: 38px;
      letter-spacing: 1.5px; }
    .case-study figure p, .case-study figure .contact-us .send-mail form, .contact-us .send-mail .case-study figure form, .case-study figure .contact-us .send-mail form:hover p, .contact-us .send-mail form:hover .case-study figure p {
      font-size: 16px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0.8px; }

.why-choose {
  padding: 100px 0 30px; }
  .why-choose h2 {
    margin-bottom: 122px; }
  .why-choose__services {
    font-size: 0; }
    .why-choose__services li {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 308px;
      margin-bottom: 40px;
      text-align: center; }
      .why-choose__services li:nth-child(4), .why-choose__services li:nth-child(5), .why-choose__services li:nth-child(6) {
        margin-bottom: 0; }
      .why-choose__services li:hover::before {
        background-color: #ec6659; }
      .why-choose__services li:before {
        position: absolute;
        top: 0;
        left: 110px;
        content: "";
        background: url(../../images/icons/skills.png) no-repeat;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition-property: background-color;
        transition-duration: 0.8s;
        border-radius: 2px;
        border: 1px solid #eeeeee; }
      .why-choose__services li:nth-child(1)::before {
        background-position: -403px; }
      .why-choose__services li:nth-child(1):hover::before {
        background-position: -321px; }
      .why-choose__services li:nth-child(2)::before {
        background-position: -724px; }
      .why-choose__services li:nth-child(2):hover::before {
        background-position: -642px; }
      .why-choose__services li:nth-child(3)::before {
        background-position: -483px; }
      .why-choose__services li:nth-child(3):hover::before {
        background-position: -564px; }
      .why-choose__services li:nth-child(4)::before {
        background-position: -803px; }
      .why-choose__services li:nth-child(4):hover::before {
        background-position: -883px; }
      .why-choose__services li:nth-child(5)::before {
        background-position: -2px; }
      .why-choose__services li:nth-child(5):hover::before {
        background-position: -84px; }
      .why-choose__services li:nth-child(6)::before {
        background-position: -246px; }
      .why-choose__services li:nth-child(6):hover::before {
        background-position: -160px; }
    .why-choose__services h4 {
      margin: 130px 0 10px;
      color: #000;
      font-size: 25px;
      font-weight: 400;
      line-height: 30px; }
    .why-choose__services p, .why-choose__services .contact-us .send-mail form, .contact-us .send-mail .why-choose__services form, .why-choose__services .contact-us .send-mail form:hover p, .contact-us .send-mail form:hover .why-choose__services p {
      padding: 0 5px;
      color: #a7a7a7;
      font-size: 15px;
      font-weight: 300;
      line-height: 30px; }

.skills {
  padding: 34px 0 60px;
  background: url("../../images/backgrounds/skills-hero.png") no-repeat right;
  background-size: contain; }
  .skills h2 {
    margin-bottom: 70px; }
  .skills__bar {
    list-style: none; }
    .skills__bar li {
      margin-bottom: 26px; }
      .skills__bar li p, .skills__bar li .contact-us .send-mail form, .contact-us .send-mail .skills__bar li form, .skills__bar li .contact-us .send-mail form:hover p, .contact-us .send-mail form:hover .skills__bar li p {
        margin-bottom: 5px;
        color: #202020;
        font-weight: 300;
        line-height: 30px; }
      .skills__bar li .line {
        width: 540px;
        height: 20px;
        border-radius: 3px 3px 0;
        background-color: #f2f2f2; }
        .skills__bar li .line .placeholder {
          display: block;
          height: 100%;
          border-radius: 3px 0 0 3px;
          background: #ec6659; }
      .skills__bar li:nth-child(1) span {
        width: 511px; }
      .skills__bar li:nth-child(2) span {
        width: 478px; }
      .skills__bar li:nth-child(3) span {
        width: 486px; }
      .skills__bar li:nth-child(4) span {
        width: 376px; }

.process {
  padding: 80px 0 90px;
  background: url("../../images/backgrounds/process.png") no-repeat right;
  background-size: cover; }
  .process .container {
    width: 940px;
    height: 325px; }
  .process figure img {
    float: left;
    margin-right: 110px;
    margin-bottom: 85px; }
  .process figure figcaption li {
    position: relative;
    display: block;
    margin-bottom: 30px; }
    .process figure figcaption li::before {
      content: "";
      position: absolute;
      top: -24px;
      right: 466px;
      background: url(../../images/icons/skills.png) no-repeat;
      width: 80px;
      height: 80px; }
    .process figure figcaption li:nth-child(1)::before {
      background-position: -960px; }
    .process figure figcaption li:nth-child(2)::before {
      background-position: -321px; }
    .process figure figcaption li:nth-child(3)::before {
      background-position: -563px; }
  .process figure figcaption h4 {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px; }
  .process figure figcaption p, .process figure figcaption .contact-us .send-mail form, .contact-us .send-mail .process figure figcaption form, .process figure figcaption .contact-us .send-mail form:hover p, .contact-us .send-mail form:hover .process figure figcaption p {
    color: #fff;
    font-weight: 300;
    line-height: 30px; }

.team {
  padding: 100px 0; }
  .team h2 {
    margin-bottom: 80px; }
  .team .container > p, .team .contact-us .send-mail .container > form, .contact-us .send-mail .team .container > form, .team .contact-us .send-mail form:hover .container > p, .contact-us .send-mail form:hover .team .container > p {
    max-width: 91.489362%;
    margin-bottom: 45px;
    color: #666;
    font-weight: 300;
    line-height: 25px; }
  .team .flex {
    display: flex;
    justify-content: space-between; }
    .team .flex figure {
      position: relative;
      height: 300px;
      border-radius: 2px;
      border: 1px solid #ec6659;
      text-align: center;
      overflow: hidden; }
      .team .flex figure:hover figcaption {
        height: 100%;
        opacity: 1;
        padding-top: 100px;
        background: rgba(237, 110, 97, 0.8); }
      .team .flex figure figcaption {
        position: absolute;
        bottom: 0;
        opacity: 0;
        width: 100%;
        height: 0;
        transition-duration: 0.8s; }
        .team .flex figure figcaption h4 {
          color: #fff;
          font-size: 20px;
          font-family: 'Campton Bold', sans-serif;
          line-height: 30px;
          text-transform: uppercase; }
        .team .flex figure figcaption p, .team .flex figure figcaption .contact-us .send-mail form, .contact-us .send-mail .team .flex figure figcaption form, .team .flex figure figcaption .contact-us .send-mail form:hover p, .contact-us .send-mail form:hover .team .flex figure figcaption p {
          margin-bottom: 78px;
          color: #fff;
          font-weight: 300;
          line-height: 30px; }
        .team .flex figure figcaption a {
          width: 220px;
          background: #c0392b;
          color: #fff;
          font-size: 16px;
          font-family: 'Campton Bold', sans-serif;
          line-height: 60px; }
  .team .learn-more-wrap {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(26, 26, 26, 0.8); }
    .team .learn-more-wrap figure {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 990px;
      height: 500px;
      background: #fff; }
      .team .learn-more-wrap figure .close {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        background: #000;
        padding: 14px;
        color: #ffffff; }
      .team .learn-more-wrap figure .img-left {
        float: left;
        max-width: 369px;
        height: 100%; }
      .team .learn-more-wrap figure figcaption {
        float: right;
        width: 621px;
        height: 100%;
        padding: 40px 40px 40px 20px; }
        .team .learn-more-wrap figure figcaption h4 {
          margin-bottom: 3px;
          color: #000;
          font-size: 20px;
          font-family: 'Campton Bold', sans-serif;
          line-height: 1;
          text-transform: uppercase; }
        .team .learn-more-wrap figure figcaption p, .team .learn-more-wrap figure figcaption .contact-us .send-mail form, .contact-us .send-mail .team .learn-more-wrap figure figcaption form, .team .learn-more-wrap figure figcaption .contact-us .send-mail form:hover p, .contact-us .send-mail form:hover .team .learn-more-wrap figure figcaption p {
          margin-bottom: 40px;
          color: #000;
          line-height: 1; }
        .team .learn-more-wrap figure figcaption span {
          display: block;
          margin-bottom: 35px;
          font-family: "Open Sans", sans-serif;
          color: #666;
          font-size: 14px;
          font-weight: 300;
          line-height: 25px; }
        .team .learn-more-wrap figure figcaption .learn-more-skills {
          display: flex;
          justify-content: space-between;
          width: 379px;
          margin-bottom: 30px; }
          .team .learn-more-wrap figure figcaption .learn-more-skills .skill {
            width: 80px;
            height: 80px;
            padding-top: 24px;
            border: 8px solid #ec6659;
            border-radius: 100%;
            color: #666666;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center; }
        .team .learn-more-wrap figure figcaption .learn-more-social {
          display: flex;
          justify-content: space-between;
          width: 200px; }
          .team .learn-more-wrap figure figcaption .learn-more-social li {
            width: 32px;
            height: 32px;
            transition-property: transform;
            transition-duration: 0.3s; }
            .team .learn-more-wrap figure figcaption .learn-more-social li a {
              height: 32px;
              background: url("../../images/icons/social.png") no-repeat; }
            .team .learn-more-wrap figure figcaption .learn-more-social li:hover {
              transform: scale(1.1); }
            .team .learn-more-wrap figure figcaption .learn-more-social li:nth-child(1) a {
              background-position: 0; }
            .team .learn-more-wrap figure figcaption .learn-more-social li:nth-child(1):hover a {
              background-position: -32px; }
            .team .learn-more-wrap figure figcaption .learn-more-social li:nth-child(2) a {
              background-position: -64px; }
            .team .learn-more-wrap figure figcaption .learn-more-social li:nth-child(2):hover a {
              background-position: -96px; }
            .team .learn-more-wrap figure figcaption .learn-more-social li:nth-child(3) a {
              background-position: -128px; }
            .team .learn-more-wrap figure figcaption .learn-more-social li:nth-child(3):hover a {
              background-position: -160px; }
            .team .learn-more-wrap figure figcaption .learn-more-social li:nth-child(4) a {
              background-position: -192px; }
            .team .learn-more-wrap figure figcaption .learn-more-social li:nth-child(4):hover a {
              background-position: -224px; }
            .team .learn-more-wrap figure figcaption .learn-more-social li:nth-child(5) a {
              background-position: -256px; }
            .team .learn-more-wrap figure figcaption .learn-more-social li:nth-child(5):hover a {
              background-position: -288px; }

.client {
  padding: 100px 0 67px;
  background: url("../../images/backgrounds/customer.png") no-repeat;
  background-size: cover; }
  .client h3 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-family: 'Campton Light', sans-serif;
    line-height: 30px; }

.hire-us {
  padding: 40px 0;
  background-color: #e74c3c;
  font-size: 0;
  color: #fff; }
  .hire-us p, .hire-us .contact-us .send-mail form, .contact-us .send-mail .hire-us form, .hire-us .contact-us .send-mail form:hover p, .contact-us .send-mail form:hover .hire-us p {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 190px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; }
  .hire-us .left-btn {
    width: 195px;
    margin-right: 16px;
    line-height: 66px; }
  .hire-us .right-btn {
    width: 150px;
    line-height: 66px; }
  .hire-us .button:hover {
    border-radius: 4px;
    border: 2px solid #c0392b;
    background-color: #c0392b;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out; }
  .hire-us span {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; }

.portfolios {
  padding: 100px 0;
  text-align: center; }
  .portfolios h2 {
    margin-bottom: 80px; }
  .portfolios .red_line::after {
    left: 50%;
    transform: translateX(-50%); }
  .portfolios h4 {
    color: #202020;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px; }
  .portfolios .container > p, .portfolios .contact-us .send-mail .container > form, .contact-us .send-mail .portfolios .container > form, .portfolios .contact-us .send-mail form:hover .container > p, .contact-us .send-mail form:hover .portfolios .container > p {
    margin-bottom: 35px;
    color: #666;
    font-weight: 300;
    line-height: 30px; }
  .portfolios .sort-menu {
    margin-bottom: 40px; }
    .portfolios .sort-menu li {
      display: inline-block;
      position: relative;
      margin-right: 10px; }
      .portfolios .sort-menu li:first-child::before {
        display: inline-block;
        vertical-align: middle;
        content: "";
        background: url(../../images/icons/key-button.png) no-repeat;
        width: 16px;
        height: 20px; }
      .portfolios .sort-menu li::before {
        content: "/";
        margin-right: 10px;
        color: #666666;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px; }
      .portfolios .sort-menu li a {
        position: relative;
        display: inline-block;
        color: #666;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        transition: 0.2s; }
        .portfolios .sort-menu li a::after {
          content: "";
          position: absolute;
          transition: 0.3s;
          transition-delay: 0.1s; }
        .portfolios .sort-menu li a:hover {
          color: #e74c3c; }
          .portfolios .sort-menu li a:hover::after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -10%;
            width: 75%;
            height: 1px;
            background-color: #e74c3c; }
  .portfolios .figure-container {
    width: 1300px;
    margin: 0 auto; }
    .portfolios .figure-container .flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px; }
      .portfolios .figure-container .flex figure {
        position: relative;
        width: 325px;
        height: 325px;
        overflow: hidden;
        transition-property: all;
        transition-duration: 6s; }
        .portfolios .figure-container .flex figure:hover img {
          transition-duration: 3s;
          transform: scale(1.5); }
        .portfolios .figure-container .flex figure:hover figcaption {
          background: rgba(224, 92, 78, 0.9);
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          font-size: 16px; }
          .portfolios .figure-container .flex figure:hover figcaption p, .portfolios .figure-container .flex figure:hover figcaption .contact-us .send-mail form, .contact-us .send-mail .portfolios .figure-container .flex figure:hover figcaption form {
            opacity: 1; }
          .portfolios .figure-container .flex figure:hover figcaption .button {
            opacity: 1; }
        .portfolios .figure-container .flex figure figcaption {
          position: absolute;
          top: 120px;
          right: 110px;
          width: 25%;
          height: 25%;
          padding: 120px 20px 80px;
          font-size: 0;
          text-align: center;
          transition: 0.3s ease-in-out; }
          .portfolios .figure-container .flex figure figcaption p, .portfolios .figure-container .flex figure figcaption .contact-us .send-mail form, .contact-us .send-mail .portfolios .figure-container .flex figure figcaption form {
            opacity: 0;
            margin-bottom: 30px;
            color: #fff;
            font-size: 30px;
            line-height: 30px; }
          .portfolios .figure-container .flex figure figcaption .button {
            opacity: 0;
            padding: 18px 22px 18px 23px; }
  .portfolios .load-more {
    width: 180px;
    margin: 0 auto 40px;
    border: 2px solid #666666;
    border-radius: 1px;
    color: #202020;
    font-size: 16px;
    font-weight: 300;
    line-height: 46px;
    transition-duration: 0.6s; }
    .portfolios .load-more::before {
      display: inline-block;
      content: "";
      width: 21px;
      height: 16px;
      margin: -4px 10px 0 0;
      vertical-align: middle;
      background: url(../../images/icons/reload-arrows.png) no-repeat; }
    .portfolios .load-more:hover {
      transform: scale(1.1); }
      .portfolios .load-more:hover::before {
        transition-property: all;
        transition-duration: 2s;
        transform: rotate(-360deg); }
  .portfolios .clients-text {
    margin-bottom: 50px;
    color: #202020;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; }
  .portfolios .clients {
    display: flex;
    justify-content: space-between; }
    .portfolios .clients li {
      width: 220px;
      height: 100px;
      border: 1px solid #eeeeee;
      background: url("../../images/icons/clients.png") no-repeat;
      transition-property: transform;
      transition: 0.3s; }
      .portfolios .clients li a {
        height: 100%; }
      .portfolios .clients li:hover {
        border: 1px solid #ec6659;
        transform: scale(1.1); }
      .portfolios .clients li:nth-child(1) {
        background-position: 0; }
        .portfolios .clients li:nth-child(1):hover {
          background-position: -220px; }
      .portfolios .clients li:nth-child(2) {
        background-position: -441px; }
        .portfolios .clients li:nth-child(2):hover {
          background-position: -660px; }
      .portfolios .clients li:nth-child(3) {
        background-position: -881px; }
        .portfolios .clients li:nth-child(3):hover {
          background-position: -1102px; }
      .portfolios .clients li:nth-child(4) {
        background-position: -1322px; }
        .portfolios .clients li:nth-child(4):hover {
          background-position: -1541px; }

.we-are-hiring {
  padding: 120px 0;
  border-top: 1px solid #e5e5e5;
  background-color: #f4f4f4; }
  .we-are-hiring figure {
    position: relative;
    float: right;
    width: 287px;
    height: 266px;
    margin: 0 0 121px 115px;
    padding: 92px 105px 0 105px;
    border: 1px solid #dbd8d8;
    background-color: #fff; }
    .we-are-hiring figure figcaption {
      position: absolute;
      top: 12px;
      left: 12px;
      width: 261px;
      height: 242px;
      padding-top: 156px;
      border: 2px dashed #dbd8d8;
      text-align: center; }
      .we-are-hiring figure figcaption p, .we-are-hiring figure figcaption .contact-us .send-mail form, .contact-us .send-mail .we-are-hiring figure figcaption form, .we-are-hiring figure figcaption .contact-us .send-mail form:hover p, .contact-us .send-mail form:hover .we-are-hiring figure figcaption p {
        color: #666;
        font-weight: 300; }
  .we-are-hiring h3 {
    margin-bottom: 20px;
    color: #3a3a3a;
    font-weight: 300;
    line-height: 50px;
    text-transform: uppercase; }
    .we-are-hiring h3 span {
      color: #e74c3c;
      font-weight: 700; }
  .we-are-hiring .container > p, .we-are-hiring .contact-us .send-mail .container > form, .contact-us .send-mail .we-are-hiring .container > form, .we-are-hiring .contact-us .send-mail form:hover .container > p, .contact-us .send-mail form:hover .we-are-hiring .container > p {
    color: #666;
    font-weight: 300;
    line-height: 30px; }

.twitter {
  padding: 135px 0 155px;
  background: url("../../images/backgrounds/twitter-back.png") no-repeat;
  background-size: cover;
  text-align: center; }
  .twitter__btn {
    margin: 0 auto 20px;
    width: 100px;
    height: 82px; }
    .twitter__btn::before {
      display: block;
      content: "";
      background: url(../../images/icons/bird-symbol.png) no-repeat;
      height: 82px;
      transition-property: all;
      transition-duration: 1.3s;
      cursor: pointer; }
    .twitter__btn:hover::before {
      background: url(../../images/icons/bird-symbol-blue.png) no-repeat;
      transform: rotate(360deg) scale(1.2); }
  .twitter p, .twitter .contact-us .send-mail form, .contact-us .send-mail .twitter form, .twitter .contact-us .send-mail form:hover p, .contact-us .send-mail form:hover .twitter p {
    color: #fff;
    font-weight: 300;
    line-height: 35px; }
    .twitter p b, .twitter .contact-us .send-mail form b, .contact-us .send-mail .twitter form b, .contact-us .send-mail form:hover .twitter p b {
      font-weight: 600; }

.contact-us {
  height: 700px; }
  .contact-us .send-form {
    position: relative;
    bottom: 5px;
    padding: 35px 0;
    font-size: 30px;
    background: #e74c3c;
    color: #fff;
    font-weight: 300; }
    .contact-us .send-form::before {
      position: absolute;
      content: "";
      bottom: 67px;
      left: 48%;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: #e74c3c; }
    .contact-us .send-form::after {
      position: absolute;
      content: "";
      bottom: 102px;
      left: 48%;
      width: 70px;
      height: 15px;
      background: url(../../images/icons/send-symb.png) no-repeat;
      transition-property: all;
      transition-duration: 1s; }
    .contact-us .send-form:hover:after {
      transform: translate(20px, -30px);
      opacity: 0.3; }
  .contact-us .send-mail {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(26, 26, 26, 0.8); }
    .contact-us .send-mail form {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 780px;
      height: 500px;
      padding: 70px 80px;
      background: #fff;
      font-weight: 300;
      color: #202020; }
      .contact-us .send-mail form:hover form, .contact-us .send-mail form:hover p, .contact-us .send-mail form:active {
        font-weight: 300;
        color: #dfdfdf; }
      .contact-us .send-mail form .close {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        background: #000;
        padding: 14px;
        color: #ffffff;
        font-family: 'Campton Bold', sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase; }
      .contact-us .send-mail form input {
        width: 298px;
        height: 58px;
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #dfdfdf; }
        .contact-us .send-mail form input:hover {
          border: 1px solid #e74c3c; }
        .contact-us .send-mail form input:focus {
          outline: none; }
      .contact-us .send-mail form textarea {
        width: 620px;
        height: 159px;
        padding: 20px;
        border: 1px solid #dfdfdf;
        overflow: hidden;
        resize: none; }
        .contact-us .send-mail form textarea:hover {
          border: 1px solid #e74c3c; }
        .contact-us .send-mail form textarea:focus {
          outline: none; }
      .contact-us .send-mail form button {
        width: 620px;
        height: 45px;
        background-color: #e74c3c;
        border: none;
        cursor: pointer; }

#send-button {
  background-image: url("../../images/icons/send-symb.png");
  background-repeat: no-repeat;
  background-position: 50%; }

footer {
  padding: 95px 0;
  text-align: center; }
  footer .logo {
    margin-bottom: 30px; }
  footer figcaption {
    width: 775px;
    margin: 0 auto 30px; }
  footer p, footer .contact-us .send-mail form, .contact-us .send-mail footer form, footer .contact-us .send-mail form:hover p, .contact-us .send-mail form:hover footer p, footer .contact-us .send-mail form:active, .contact-us .send-mail footer form:active {
    color: #b5b5b5;
    font-weight: 300;
    letter-spacing: 0.8px; }
  footer .social {
    margin-bottom: 30px; }
    footer .social li {
      display: inline-block;
      width: 52px;
      height: 52px;
      margin-right: 10px;
      transition-property: transform;
      transition-duration: 0.3s; }
      footer .social li:hover {
        transform: scale(1.05); }
      footer .social li:nth-child(1) a {
        background-position: -780px; }
      footer .social li:nth-child(1):hover a {
        background-position: -728px; }
      footer .social li:nth-child(2) a {
        background-position: -676px; }
      footer .social li:nth-child(2):hover a {
        background-position: -624px; }
      footer .social li:nth-child(3) a {
        background-position: -572px; }
      footer .social li:nth-child(3):hover a {
        background-position: -520px; }
      footer .social li:nth-child(4) a {
        background-position: -468px; }
      footer .social li:nth-child(4):hover a {
        background-position: -416px; }
      footer .social li:nth-child(5) a {
        background-position: -364px; }
      footer .social li:nth-child(5):hover a {
        background-position: -312px; }
      footer .social li:nth-child(6) a {
        background-position: -260px; }
      footer .social li:nth-child(6):hover a {
        background-position: -208px; }
      footer .social li:nth-child(7) a {
        background-position: -156px; }
      footer .social li:nth-child(7):hover a {
        background-position: -104px; }
      footer .social li:nth-child(8) a {
        background-position: -52px; }
      footer .social li:nth-child(8):hover a {
        background-position: 0; }
  footer .social-btn {
    height: 52px;
    background: url("../../images/icons/footer-icons.png") no-repeat; }

/*# sourceMappingURL=styles.css.map */
