.header
  padding: 43px 0 47px
  background: url("../../images/backgrounds/slider-6.jpg") no-repeat
  background-size: cover
  color: #eee
  &__top
    margin-bottom: 200px
    & .logo
      float: left
    & .menu-btn
      float: right
      margin-right: 14px
  &__textarea
    & p
      +light
      margin-bottom: 50px
      text-align: center
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
      font-size: 22px
      line-height: 1
  &__button-wrap
    margin-bottom: 233px
    vertical-align: top
    text-align: center
    font-size: 0
    & .button
      width: 200px
      margin: 0 14px
      line-height: 66px
      &:hover
        background-color: $primary
        border: 2px solid $primary